@import 'base';
@import '~normalize.css/normalize';
@import "~bootstrap/scss/bootstrap.scss";

$shadow-color: rgb(159, 159, 159);

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.box-shadow {
  box-shadow: 2px 2px 2px $shadow-color;
}

.game-card {
  width: 72px;
  height: 110px;
  position: relative;
}

.overflow-wrap {
  overflow-wrap: break-word;
  hyphens: auto;
}

.circle {
  border-radius: 100%;
}

.water-bkgrnd {
  background: linear-gradient(135deg, #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%)
}

.land-bkgrnd {
  background: linear-gradient(135deg, #b2e09a 0%,#7ad76f 50%,#32c31a 51%,#b2e09a 100%)
}

.air-bkgrnd {
  background: linear-gradient(135deg, #d0b7ed 0%,#ce71ee 50%,#a421e2 51%,#d0b7ed 100%)
}
