@import 'base';
@import '~normalize.css/normalize';
@import "~bootstrap/scss/bootstrap.scss";

$shadow-color: rgb(159, 159, 159);
$light-bkgrnd: rgb(249, 249, 249);
$bkgrnd-gradient: rgb(232, 229, 229);
$text-color: rgb(71, 71, 71);

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  color: $text-color;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient($light-bkgrnd, $bkgrnd-gradient);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.box-shadow {
  box-shadow: 2px 2px 2px $shadow-color;
}

.overflow-wrap {
  overflow-wrap: break-word;
  hyphens: auto;
}

.circle {
  border-radius: 100%;
}

.highlighted-white-text {
  color: white;
  text-shadow: 1px 1px 1px black;
  font-weight: bold;
}

.show-pointer {
  cursor: pointer;
}

$water-light: #b7deed;
$water-mid: #71ceef;
$water-main: #21b4e2;

$land-light: #b2e09a;
$land-mid: #7ad76f;
$land-main: #32c31a;

$air-light: #d0b7ed;
$air-mid: #ce71ee;
$air-main: #a421e2;

$grey-light: #d4d4d4;
$grey-mid: #9a9a9a;

$resurrector-col: #f4419c;
$meteor-col: #f4cc41;


.resurrector-bkgrnd {
  background-color: $resurrector-col;
}

.meteor-bkgrnd {
  background-color: $meteor-col;
}

.water-main-bkgrnd {
  background-color: $water-main;
}

.land-main-bkgrnd {
  background-color: $land-main;
}

.air-main-bkgrnd {
  background-color: $air-main;
}

.water-bkgrnd {
  background: linear-gradient(135deg, $water-light 0%,$water-mid 50%,$water-main 51%,$water-light 100%)
}

.land-bkgrnd {
  background: linear-gradient(135deg, $land-light 0%,$land-mid 50%,$land-main 51%,$land-light 100%)
}

.air-bkgrnd {
  background: linear-gradient(135deg, $air-light 0%,$air-mid 50%,$air-main 51%,$air-light 100%)
}

.water-faint-bkgrnd {
  background: linear-gradient(225deg, lighten($water-mid, 20%) 0%,lighten($water-light, 23%) 100%)
}

.land-faint-bkgrnd {
  background: linear-gradient(225deg, lighten($land-mid, 20%) 0%,lighten($land-light, 23%) 100%)
}

.air-faint-bkgrnd {
  background: linear-gradient(225deg, lighten($air-mid, 20%) 0%,lighten($air-light, 23%) 100%)
}

.grey-faint-bkgrnd {
  background: linear-gradient(225deg,$grey-mid 0%,$grey-light 100%)
}
