.sign-in-background {
  background-image:url("../../../../public/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: fixed;
  padding: 15%;
}
