.deck-container {
  .card-item {
    border-style: solid;
    border-width: 1px;
    width: 15%;
    &:hover{
      box-shadow: 0px 0px 40px 20px #abafb9;
    }
  }

  .card-title {
    font-size: 100%;
    font-weight: bold;
  }
}
