.deck-card {
  width: 105px;
  height: 130px;
  position: relative;
  border-radius: 5px;
  &:hover{
    box-shadow: 0px 0px 10px 5px #abafb9;
  }
}

.deck-card-img-holder {
  min-height: 70px;
  width: 80px;
}

.deck-card-img {
  max-width: 100%;
  max-height: 100%;
}

.deck-card-name {
  font-size: 0.8rem;
  transform: rotate(-90deg);
  transform-origin: left bottom 0;
  position: absolute;
  bottom: 3px;
  left: 14px;
  max-width: 125px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.deck-card-name-holder {
  position: relative;
  width: 16px;
}

.deck-card-power {
  width: 24px;
  height: 24px;
  font-size: 0.9rem;
  line-height: 1.8;
  position: absolute;
  bottom: 3px;
  left: 20px;
}

.deck-card-cost {
  width: 30px;
  height: 30px;
  font-size: 0.9rem;
  line-height: 2.1;
  position: absolute;
  top: 3px;
  right: 3px;
  background-color: grey;
}

.deck-card-special {
  width: 24px;
  height: 24px;
  font-size: 0.9rem;
  line-height: 1.8;
  position: absolute;
  bottom: 3px;
  right: 3px;
}
