.deck-builder-background {
  background-image:url("../../../../public/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

.deck-builder-background:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background: -webkit-radial-gradient(top center, ellipse cover, rgba(255,255,255,0.2) 0%,rgba(255, 255, 255, 0.7) 100%);
    filter: blur(5px);
}
