#root > [data-reactroot] {
    min-height: 100% !important;
    height: 100% !important;
}


.game-card-name {
  font-size: 0.6rem;
  transform: rotate(-90deg);
  transform-origin: left bottom 0;
  position: absolute;
  bottom: 3px;
  left: 11px;
  max-width: 85px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.game-card {
  width: 76px;
  height: 90px;
  position: relative;
  border-radius: 5px;
}


.game-card-img-holder {
  min-height: 62px;
  width: 76px;
}

.game-card-name-holder {
  position: relative;
  width: 14px;
}

.game-card-img {
  max-width: 100%;
  max-height: 100%;
}

.game-card-power {
  width: 24px;
  height: 24px;
  font-size: 0.9rem;
  line-height: 1.8;
  position: absolute;
  bottom: 3px;
  left: 15px;
}

.game-card-special {
  width: 24px;
  height: 24px;
  font-size: 0.9rem;
  line-height: 1.8;
  position: absolute;
  bottom: 3px;
  right: 3px;
}
