$border-color: rgb(71, 71, 71);

.self-hand-border {
  border-top: 5px solid $border-color;
}

.enemy-hand-border {
  border-bottom: 5px solid $border-color;
}

.hand {
  min-height: 111px;
}

.card-wrapper {
  border-radius: 5px;
}
