.game-avatar {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
}

.info-bar {
  color: #ffffff;
  display: relative;
}

.info-bar-text {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.small-text {
  font-size: 0.65rem;
}

.info-bar-indicator {
  width: 40px;
  height: 40px;
  font-size: 1.3rem;
  line-height: 2.1;
  font-weight: bold;
  position: relative !important;
}

.round-indicator {
  width: 50px;
  height: 50px;
  font-size: 1.4rem;
  line-height: 2.3;
  font-weight: bold;
}

.info-bar-vert-text {
  transform: rotate(-90deg);
  transform-origin: left bottom 0;
  position: absolute;
  bottom: 3px;
  left: 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: normal;
}
